NEXT_PUBLIC_SITE_URL=https://ainextgen.io.vn
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_CONTACT_EMAIL=hello@ainextgen.io.vn
NEXT_PUBLIC_ADSENSE_CLIENT_ID=ca-pub-4555716116607798
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
